<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.js "></script>
    <!--<script type="importmap">

    {

    "imports": {

    "three" : "https://cdn.jsdelivr.net/npm/three@0.154.0/build/three.module.js",

    "three/addons/" : "https://cdn.jsdelivr.net/npm/three@0.154.0/examples/jsm/",

    }
    }</script>-->

</head>
<body>
    <div id="scene-box"></div>  <!-- This is where the Three.js scene will be rendered -->

    <script>
        const shapes = JSON.parse('{{ shapes | safe }}');
        console.log(shapes);
    </script>
    <script type="module" src="{% static 'main.js' %}" defer></script>
</body>
</html>
